
.tweet-button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.button-and-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

#tweet-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


textarea {
  border: none;
  outline: none;
  background-color: #f4f1ec;
  border-bottom: 3px solid #656565;
  width: 100%;
}